# Backend Configuration
GEMINI_API_KEY=AIzaSyAt7MB6PPvltwlYkE74XQ-4ymZEpANnJGg
QDRANT_URL=https://85e85161-3721-49d2-8609-6420db16929a.europe-west3-0.gcp.cloud.qdrant.io
QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.JO8hNWSV-GnsINJwI-gMT7x4Y31D2FKSlGpef32IYvM
DATABASE_URL=postgresql://neondb_owner:npg_FtxA2MP3Sipj@ep-flat-river-a4a739ll-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
BACKEND_URL=http://localhost:8000